Analise exploratória inicial dos dados imobiliários do Rio de Janeiro

In [1]:
#import das bibliotecas necessárias
import pandas as pd

In [7]:
dados_imob = pd.read_csv('C:\\Users\\EDS\\OneDrive - Extreme Digital Solutions\\Documentos\\TADS020\\Data Science\\AV2\\imob_RJ.csv', sep = ',')
dados_imob.sample(5)

      condominio  quartos  suites  vagas  area      bairro    preco       pm2
142          500        2     2.0    1.0    75  Copacabana  1680000  22400.00
1193        1400        3     2.0    1.0   110      Leblon  2100000  19090.91
728         1400        2     1.0    1.0    75    Botafogo  1300000  17333.33
1620         230        1     0.0    0.0    35      Grajaú   285000   8142.86
67          1580        3     1.0    1.0   215    Botafogo  1890000   8790.70

In [8]:
dados_imob.head()

   condominio  quartos  suites  vagas  area    bairro   preco       pm2
0         350        1     0.0    1.0    21  Botafogo  340000  16190.48
1         800        1     0.0    1.0    64  Botafogo  770000  12031.25
2         674        1     0.0    1.0    61  Botafogo  600000   9836.07
3         700        1     1.0    1.0    70  Botafogo  700000  10000.00
4         440        1     0.0    1.0    44  Botafogo  515000  11704.55

In [9]:
dados_imob.shape

(1997, 8)

In [11]:
dados_imob.columns

Index(['condominio', 'quartos', 'suites', 'vagas', 'area', 'bairro', 'preco',
       'pm2'],
      dtype='object')

In [13]:
dados_imob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1997 entries, 0 to 1996
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   condominio  1997 non-null   int64
 1   quartos     1997 non-null   int64
 2   suites      1997 non-null   float64
 3   vagas       1997 non-null   float64
 4   area        1997 non-null   int64
 5   bairro      1997 non-null   object
 6   preco       1997 non-null   int64
 7   pm2         1997 non-null   float64
dtypes: float64(3), int64(4), object(1)
memory usage: 124.9+ KB

In [14]:
dados_imob.describe()

,condominio,quartos,suites,vagas,area,preco,pm2
count,1997.000000,1997.000000,1997.000000,1997.000000,1997.000000,1.997000e+03,1997.00000
mean,971.087631,2.128693,1.039559,1.153230,90.051577,1.229410e+06,13256.74635
std,653.893691,0.793866,0.443091,0.453837,46.417486,1.155809e+06,6977.37614
min,1.000000,1.000000,0.000000,0.000000,19.000000,1.300000e+05,2600.00000
25%,550.000000,1.000000,1.000000,1.000000,60.000000,5.600000e+05,7894.74000
50%,800.000000,2.000000,1.000000,1.000000,80.000000,9.000000e+05,11904.76000
75%,1200.000000,3.000000,1.000000,1.000000,110.000000,1.550000e+06,17156.86000
max,7071.000000,3.000000,3.000000,4.000000,475.000000,1.360000e+07,76666.67000

Identificação de quais bairros estão sendo citados e quantas vezes eles aparecem.

In [18]:
locais = dados_imob['bairro'].value_counts()
locais

Copacabana    346
Tijuca        341
Botafogo      307
Ipanema       281
Leblon        280
Grajaú        237
Gávea         205
Name: bairro, dtype: int64

A partir dessa identificação é possível perceber que os bairros contido na tabela estão majoritariamente localizados na zona sul do Rio de Janeiro

Copacabana - Zona Sul
Tijuca - Zona Norte
Botafogo - Zona Sul
Ipanema - Zona Sul
Leblon - Zona Sul
Grajaú - Zona Norte
Gávea - Zona Sul